/* src/index.css */
@import "tailwindcss";

:root {
  --bg-main: #ffffff;
  --text-main: #111827;
}

:root[data-theme='dark'] {
  --bg-main: #0a0a0a;
  --text-main: #f9fafb;
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--text-main);
}

/* Mengatur transisi View Transition agar berbentuk lingkaran */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 2;
  /* Lingkaran mulai dari 0 dan membesar */
  animation: 800ms cubic-bezier(0.4, 0, 0.2, 1) both circle-expand;
}

@keyframes circle-expand {
  from {
    clip-path: circle(0% at var(--x) var(--y));
  }
  to {
    clip-path: circle(150% at var(--x) var(--y));
  }
}