/* src/index.css */
@import "tailwindcss";

:root {
  --bg-main: #fcfcfc;
  --text-main: #475569;
  --text-bold: #020617;      /* Hitam untuk F, A, dan Nama */
  --text-brand: #020617;     /* Diubah jadi Hitam juga (Monochrome) */
  --nav-bg: rgba(255, 255, 255, 0.7);
  --nav-border: rgba(15, 23, 42, 0.1);
  --toggle-icon: #4b5563;
}

:root[data-theme='dark'] {
  --bg-main: #121214;
  --text-main: #94a3b8;
  --text-bold: #ffffff;      /* Putih untuk F, A, dan Nama */
  --text-brand: #ffffff;     /* Diubah jadi Putih juga (Monochrome) */
  --nav-bg: rgba(18, 18, 20, 0.6);
  --nav-border: rgba(255, 255, 255, 0.1);
  --toggle-icon: #94a3b8;
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--text-main);
}

header {
  view-transition-name: main-header;
}

/* Layering agar tidak tembus pandang */
::view-transition-group(main-header) {
  z-index: 10000;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  z-index: 9999;
  animation: 800ms cubic-bezier(0.4, 0, 0.2, 1) both circle-expand;
}

@keyframes circle-expand {
  from { clip-path: circle(0% at var(--x) var(--y)); }
  to { clip-path: circle(150% at var(--x) var(--y)); }
}